.container {
	max-width: 80%;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 7px 0 rgba(.5,0,0,.5);
}

.header {
	height: 200px;
	background-color: whitesmoke;
	padding: 30px;
}

.img-dimension{
	height: 100px;
	width: 100px;
}

.middle {
	background-color: tomato;
	font-size: large;
	padding: 10px;
}

.middle-left{;
	width: 60%;
	padding-top: 10px;
}

.middle-left p{
	font-size: 21px;
}

.middle-right{;
	width: 40%;
}

.middle-left, 
.header,
.footer {
	padding-left: 10%;
}

input {
	border: none;
	padding: 15px;
	color: white;
	background-color: #F49685;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.footer {
	background-color: #3C4043;
	padding-top: 8%;
	font-size: 300;
}

.img-logo {
	max-width: 150px;
	padding-bottom: 20px;
}

ul li {
	list-style-type: none;
	line-height: 2;
}

.img-footer {
	width: 100%; 
	height: auto;
	padding-right: 5%;
	margin-bottom: 20px;
}

.border {
	margin-right: 80px;
	border-bottom: .5px solid gray;
}

.footer-copy{
	padding-top: 10px;
	padding-bottom: 20px;
}


@media screen and (max-width: 900px) {
	.container{
		max-width: 100%;
		margin-bottom: 0;
		margin-top: 0;
}

	.middle-left {
		padding-top: 0;
	}

	.middle-right {
		max-width: 90%;
	}
}
